{% extends 'base.html' %}
{%  load static %}
<!DOCTYPE html>
<html lang="en">
{% block main %}
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">
        <div class="content col-xl-5 d-flex align-items-stretch">
          <div class="content">
            <h3>Digital marketing</h3>
            <p>
              Rahul world.com is a Digital Marketing Company in Jabalpur. We use Technology and Creative Strategies to Solve the Growth Challenges of Clients. We are a high performance creative team that will execute your marketing needs quickly and very cost effectively. We will help you create a new niche in your market and take your brand up by miles. At RahulWorld, we enjoy the work we do and bring desired and profitable results to your business. We enable small businesses to grow in leads and sales. If you are looking for someone who can build a brand for your product and increase sales or, if you are looking for someone who can increase consumer engagement for your product then look no further!
            </p>
            <a href="" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
        <div class="col-xl-7 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h3>Loan</h3>
                <p>
                  Welcome to Rahul_World, a leading provider of loans to individuals and businesses. Our mission is to help our customers achieve their financial goals by offering flexible and affordable loan options that meet their specific needs. With a team of experienced professionals, we are dedicated to providing excellent customer service and ensuring that our clients have access to the funds they need to succeed.

                  At Rahul_World, we understand that everyone's financial situation is unique. That's why we offer a wide range of loan options, including personal loans, business loans, home loans, and more. Our loan products come with competitive interest rates, flexible repayment terms, and easy application processes, making it easier for our customers to achieve their financial goals.
                  
                  Whether you're looking to consolidate debt, start a business, or buy a home, we are here to help. Contact us today to learn more about our loan options and how we can help you achieve your financial goals.
                </p>
              </div>
              <!-- <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Ullamco laboris nisi</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div> -->
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-images"></i>
                <h4>Photo Editing</h4>
                <p>Photo editing is the act of altering an image. But that’s oversimplifying a subject that can be complex and employs different methods and tools.

                  For example, some photo editing techniques are done manually, while others are conducted through automated software. Some photo editing is even done offline, on actual photographs, posters or other printed collateral.
                  
                  Other terms for photo editing:
                  
                  Image editing
                  Post-processing
                  Image/photo manipulation
                  Photoshopping
                  Image/photo enhancement</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-shield"></i>
                <h4>Insurance policy</h4>
                <p>The first few pages of a life insurance policy include a high-level summary of your coverage. In most cases, the first page states the name of the insurance company, the type of plan you are purchasing, the name of the insured, the policy owner and the “free-look” period terms.

                  Life insurance policies have a trial period, often referred to as the free-look period, which gives the policyholder a certain number of days – generally 10 to 30 days – to cancel the policy without penalty and get their first payment back.
                  
                  After the cover page is the schedule of benefits, also called the declarations page. The following details are usually included:
                  
                  Personal information: Review your date of birth, name, and any other information for errors.
                  Benefit amount: The amount to be paid upon your death.
                  Policy type: Specifies if you have a term or permanent policy.
                  Premium amount: How much you have to pay monthly or annually for coverage.
                  Policy issue date: The date that you were delivered a policy.</p>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
{% endblock main%}