{% extends 'base.html' %}
{%  load static %}
<!DOCTYPE html>
<html lang="en">
{% block main %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>
            <p>

            </p>

          </h1>
          <h2>
              <P>
                
              </P>
          </h2>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <!-- <div class="swiper-slide"><img src="{%  static  'img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%  static  'img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%  static  'img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%  static  'img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%  static  'img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%  static  'img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%  static  'img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%  static  'img/clients/client-8.png' %}" class="img-fluid" alt=""></div> -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row no-gutters">
      <div class="content col-xl-5 d-flex align-items-stretch">
        <div class="content">
          <h3>Digital marketing</h3>
          <p>
            Rahul world.com is a Digital Marketing Company in Jabalpur. We use Technology and Creative Strategies to Solve the Growth Challenges of Clients. We are a high performance creative team that will execute your marketing needs quickly and very cost effectively. We will help you create a new niche in your market and take your brand up by miles. At RahulWorld, we enjoy the work we do and bring desired and profitable results to your business. We enable small businesses to grow in leads and sales. If you are looking for someone who can build a brand for your product and increase sales or, if you are looking for someone who can increase consumer engagement for your product then look no further!
          </p>
          <a href="" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
        </div>
      </div>
      <div class="col-xl-7 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h3>Loan</h3>
              <p>
                Welcome to Rahul_World, a leading provider of loans to individuals and businesses. Our mission is to help our customers achieve their financial goals by offering flexible and affordable loan options that meet their specific needs. With a team of experienced professionals, we are dedicated to providing excellent customer service and ensuring that our clients have access to the funds they need to succeed.

                At Rahul_World, we understand that everyone's financial situation is unique. That's why we offer a wide range of loan options, including personal loans, business loans, home loans, and more. Our loan products come with competitive interest rates, flexible repayment terms, and easy application processes, making it easier for our customers to achieve their financial goals.
                
                Whether you're looking to consolidate debt, start a business, or buy a home, we are here to help. Contact us today to learn more about our loan options and how we can help you achieve your financial goals.
              </p>
            </div>
            <!-- <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Ullamco laboris nisi</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
            </div> -->
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-images"></i>
              <h4>Photo Editing</h4>
              <p>Photo editing is the act of altering an image. But that’s oversimplifying a subject that can be complex and employs different methods and tools.

                For example, some photo editing techniques are done manually, while others are conducted through automated software. Some photo editing is even done offline, on actual photographs, posters or other printed collateral.
                
                Other terms for photo editing:
                
                Image editing
                Post-processing
                Image/photo manipulation
                Photoshopping
                Image/photo enhancement</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-shield"></i>
              <h4>Insurance policy</h4>
              <p>The first few pages of a life insurance policy include a high-level summary of your coverage. In most cases, the first page states the name of the insurance company, the type of plan you are purchasing, the name of the insured, the policy owner and the “free-look” period terms.

                Life insurance policies have a trial period, often referred to as the free-look period, which gives the policyholder a certain number of days – generally 10 to 30 days – to cancel the policy without penalty and get their first payment back.
                
                After the cover page is the schedule of benefits, also called the declarations page. The following details are usually included:
                
                Personal information: Review your date of birth, name, and any other information for errors.
                Benefit amount: The amount to be paid upon your death.
                Policy type: Specifies if you have a term or permanent policy.
                Premium amount: How much you have to pay monthly or annually for coverage.
                Policy issue date: The date that you were delivered a policy.</p>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="356" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="530" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Digital Marketing</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block"> Marketing strategy</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Team </h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">  Graphic Designer Team </h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>Digital</h3>
                <p class="fst-italic">
                 
                </p>
                <!-- <ul>
                  <li><i class="ri-check-double-line"></i> </li>
                  <li><i class="ri-check-double-line"></i> </li>
                  <li><i class="ri-check-double-line"></i> </li>
                </ul> -->
                <p>
                  Rahul world.com is a Digital Marketing Company in Jabalpur. We use Technology and Creative Strategies to Solve the Growth Challenges of Clients. We are a high performance creative team that will execute your marketing needs quickly and very cost effectively. We will help you create a new niche in your market and take your brand up by miles. At RahulWorld, we enjoy the work we do and bring desired and profitable results to your business. We enable small businesses to grow in leads and sales. If you are looking for someone who can build a brand for your product and increase sales or, if you are looking for someone who can increase consumer engagement for your product then look no further!
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{%  static  'img/tabs-1.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3> Marketing strategy </h3>
                <p>
                  A market strategy statement outlines specific marketing actions a business should take to meet specific business goals. For example, to expand a product line to increase company profits, your market strategy statement should detail the use of specific actions, such as targeting consumer groups using specialized marketing and advertising campaigns, to increase consumer awareness of new products. Increased marketing to consumers often leads to increased profits.
                </p>
                <p class="fst-italic">
                  
                </p>
                <!-- <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul> -->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{%  static  'img/tabs-2.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Team lead</h3>
                <p>
                  Teamwork skills can be found in a variety of professional situations, so you're wise to put some serious thoughts into the specific teamwork traits you bring to the table. Descriptive wording includes:

                  Ability to brainstorm.
                Group idea cultivation and sharing.
            Collaborative work projects.
        Team initiatives. 
      Workgroup projects.
Committee participation.
Also, indicate that you're not only good at teamwork but that you enjoy the opportunity to work in tandem with your colleagues. Examples:

I enjoy the opportunity to bounce ideas off my colleagues and to come up with collective approaches to achieving the greatest outcomes for the team.

I value the unique talents that each of my colleagues brings to the table when it's time to trouble-shoot campaign issues. Everyone has a different yet valuable perspective.
                </p>
                <ul>
                  <!-- <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li> -->
                </ul>
                <p class="footer-newsletter">
                  
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{%  static  'img/tabs-3.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3> Graphic Designer</h3>
                <p>
                  The process of creating a graphic designer personal statement can be broken down into three steps: brainstorming, drafting, and editing.

                  Brainstorming
                  Brainstorming entails coming up with creative ideas. To come up with awesome ideas for your personal statement, you’ll need to think about your experiences as a graphic designer.
                  
                  Think of what makes you unique and why you want to pursue a career in graphic design. Once you have a list of topics to discuss, it’s time to start writing. You can check the personal statements of other graphic designers for inspiration during brainstorming.
                  
                  Drafting
                  The next step in creating your personal statement is drafting it. The draft should be around 100-500 words long and include all the information mentioned above. Make sure you proofread it carefully before submitting it; mistakes will only reflect poorly on your application. 
                  
                  Editing
                  At the editing stage, you should read through the statement to make sure you cover the basics of good writing. Editing is an important stage in the creation of any document, including personal statements.
                  
                  During this stage, make sure that everything flows well together and that there are no grammar or spelling errors present. If necessary, get someone else to read over your statement, so they can provide feedback. After you’ve done your editing, you can submit the final version.
                </p>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <!-- <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul> -->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{%  static  'img/tabs-4.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Tabs Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg ">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Services</h2>
              <p>Services refer to a broad range of intangible offerings provided by individuals or organizations to meet the needs or wants of others, including professional, personal, or technical assistance, advice, or support.</p>
            </div>
    
            <div class="row">
              <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-briefcase"></i>
                  <h4><a href="#">Loan Services</a></h4>
                  <p>Loan services are financial offerings provided by banks, credit unions, or other lending institutions, whereby individuals or businesses can borrow money to finance their needs or investments. These services may include a variety of loan options, such as personal loans, business loans, mortgages, and lines of credit, and may involve a range of terms and conditions, including interest rates, repayment schedules, and collateral requirements.</p>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-card-checklist"></i>
                  <h4><a href="#">Graphic design</a></h4>
                  <p>Graphic design is the art and practice of creating visual content to communicate messages, ideas, or concepts to a specific audience. It involves combining text, images, and other visual elements to create visually appealing and effective designs that can be used for a variety of purposes, including advertising, branding, packaging, web design, and more. A graphic designer uses their creativity and technical skills to design visually striking and functional materials that effectively convey a message to the intended audience.</p>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-bar-chart"></i>
                  <h4><a href="#">Investment</a></h4>
                  <p>Investment refers to the act of committing money or resources with the expectation of generating a profit or a return on investment. Investments can take many forms, including stocks, bonds, real estate, and mutual funds. The objective of an investment is to grow wealth over time, by choosing the right investment vehicle and making informed investment decisions based on research, analysis, and risk management strategie</p>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-binoculars"></i>
                  <h4><a href="#">Website design</a></h4>
                  <p>Web design is the process of creating visually appealing and user-friendly websites that meet the needs of both the website owner and its users. A website designer uses their creative and technical skills to design websites that are aesthetically pleasing, easy to navigate, and optimized for search engines. They may use a variety of tools and technologies to design and develop websites, such as HTML, CSS, JavaScript, and Content Management Systems (CMS), and may work in collaboration with other professionals, such as web developers and content creators, to deliver a high-quality website that meets the client's objectives.</p>
                </div>
              </div>
              </div>
              </div>
            </div>
    
          </div>
        </section>
        <!-- End Services Section -->
    
 <!-- ======= Team Section ======= -->
 <section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Team</h2>
      <p>At our company, we believe that working collaboratively and in teams is the key to success. We know that the best solutions come from brainstorming ideas and working together towards a common goal. That's why we foster a strong sense of teamwork in everything we do.</p>
    </div>

    <div class="row">
      

      <div class="col-lg-5 col-md-4 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="{%  static  'img/team/rahul.jpg'' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Rahul Namdev</h4>
            <span>Chief Executive Officer
              <p>CEO</p>
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{%  static  'img/team/akash.jpeg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Akash Sen</h4>
            <span>Website Designer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="{%  static  'img/team/rahul1.jpeg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Rahul HaldAKAR</h4>
            <span>CTO</span>
          </div>
        </div>
      </div>

        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>24 B Krishna Nagar 
                    Madhotal Deendayal 
                    Upahayay Ward<br>
                    Jabalpur(Madhya Pardesh)</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>rahulworld74@gmail.com<br></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+91-7000760974<br></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            
            <form action="{% url 'contact.html' %}" method="POST" role="form" class="">
            {% csrf_token %}
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="phone +91" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading"></div>
                <div class="message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

</html>
{% endblock main  %}