{% extends 'base.html' %}
{%  load static %}
<!DOCTYPE html>
<html lang="en">
{% block main %}    
    
    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Services</h2>
            <p>Services refer to a broad range of intangible offerings provided by individuals or organizations to meet the needs or wants of others, including professional, personal, or technical assistance, advice, or support.</p>
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-briefcase"></i>
                <h4><a href="#">Loan Services</a></h4>
                <p>Loan services are financial offerings provided by banks, credit unions, or other lending institutions, whereby individuals or businesses can borrow money to finance their needs or investments. These services may include a variety of loan options, such as personal loans, business loans, mortgages, and lines of credit, and may involve a range of terms and conditions, including interest rates, repayment schedules, and collateral requirements.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-card-checklist"></i>
                <h4><a href="#">Graphic design</a></h4>
                <p>Graphic design is the art and practice of creating visual content to communicate messages, ideas, or concepts to a specific audience. It involves combining text, images, and other visual elements to create visually appealing and effective designs that can be used for a variety of purposes, including advertising, branding, packaging, web design, and more. A graphic designer uses their creativity and technical skills to design visually striking and functional materials that effectively convey a message to the intended audience.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-bar-chart"></i>
                <h4><a href="#">Investment</a></h4>
                <p>Investment refers to the act of committing money or resources with the expectation of generating a profit or a return on investment. Investments can take many forms, including stocks, bonds, real estate, and mutual funds. The objective of an investment is to grow wealth over time, by choosing the right investment vehicle and making informed investment decisions based on research, analysis, and risk management strategie</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-binoculars"></i>
                <h4><a href="#">Website design</a></h4>
                <p>Web design is the process of creating visually appealing and user-friendly websites that meet the needs of both the website owner and its users. A website designer uses their creative and technical skills to design websites that are aesthetically pleasing, easy to navigate, and optimized for search engines. They may use a variety of tools and technologies to design and develop websites, such as HTML, CSS, JavaScript, and Content Management Systems (CMS), and may work in collaboration with other professionals, such as web developers and content creators, to deliver a high-quality website that meets the client's objectives.</p>
              </div>
            </div>
            </div>
            </div>
          </div>
  
        </div>
      </section>
      <!-- End Services Section -->
{% endblock main%}      